<div class="container m-5">
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="projectDetailsForm"
        class="pb-5 mb-5"
        (ngSubmit)="onSaveProject()"
      >
        <div class="form-group">
          <label for="name">Project Name: </label>
          <input
            formControlName="projectName"
            type="text"
            name="name"
            class="form-control"
            id="name"
          />
          <small
            class="text-danger"
            *ngIf="
              projectDetailsForm.get('projectName').invalid &&
              projectDetailsForm.get('projectName').touched
            "
            >fsfsdf</small
          >
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
              >Status
            </label>
            <select
              class="custom-select mr-sm-2"
              id="inlineFormCustomSelect"
              formControlName="projectStatus"
            >
              <option *ngFor="let item of statusArray" [ngValue]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
